body { 
    background-image: url(Photos/backgroundjv.webp);
    font-family: 'Inter', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-left: 150px;
}

/* GRANDE PARTIE */

#big {
    display: flex;
    background-color: #353535;
    opacity: 95%;
    align-content:center;
    width: 90%;
    height: 700px;
    border-radius: 15px 15px 0 0;
}

#small_cover img {
    border-bottom-left-radius: 15px;
}


/* HIDE BUTTON */

#left_bar {
    width: 4%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin : 15px;
}

#hide {
    background-image: url(Photos/hide_grey.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
}

#hide_right {
    background-image: url(Photos/hide_right_grey.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
}

#list_button {
    background-image: url(Photos/list_button_grey.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: none;
}

#cover_button {
    background-image: url(Photos/album_cover_grey.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: none;
}

#hide:hover {
    background-image: url(Photos/hide_logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    width: 55px;
    height: 55px;
    cursor: pointer;
}

#hide_right:hover {
    background-image: url(Photos/hide_logo_right.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    width: 55px;
    height: 55px;
    cursor: pointer;
}

#list_button:hover {
    background-image: url(Photos/list_button.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    width: 55px;
    height: 55px;
    cursor: pointer;
}

#cover_button:hover {
    background-image: url(Photos/album_cover_button.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    width: 55px;
    height: 55px;
    cursor: pointer;
}

/* COVER PART */

#cover {
    width: 46%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cover img {
    width:475px;
}

#song_title {
    font-size: 30px;
    font-weight: 900;
    color: white;
    margin: 25px;
}

#artist_name {
    color : white;
    font-size: 18px;
}

/* LISTE */

.visible {
    display: flex !important;
    width: 50%;
}

.invisible {
    display: none !important;
}

.taille {
    width: 96% !important;
    transition : width 2s;
}

#list {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-left : 5px solid #222020;
}

#title {
    display: flex;
    align-items: center;
    background-color: black;
    height : 15%;
    width: 100%;
    border-radius: 0 15px 0 0;
}

#title_right {
    color: white;
    font-size: 25px;
}

#title img {
    margin : 15px;
}

#tracklist {
    width: 100%;
    color: white;
    cursor: pointer;
    display: flex;
}

table {
    border: none;
    width: 100%;
}

.table_music {
    width: 90%;
}

.table_heart {
    width: 10%;
}

thead {
    background-color: #2C2C2C;
    height: 25px;
    width: 90%;
    text-align: left;
}

tbody tr {
    height:40px;
}

tbody tr:nth-of-type(even) {
    background-color: #545353;
}

tbody tr:nth-of-type(odd) {
    background-color: #666666;
}

#head_number {
    width : 10%;
    padding : 10px;
}

.number {
    padding : 10px;
}

#head_title {
    width:45%;
}

#head_artist {
    width: 50%;
}

#head_like {
    width: 10%;
    padding : 10px;
}

/* LIKE */

.heart {
    background-image: url(Photos/heart_grey.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.heart:hover {
    background-image: url(Photos/heart.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
    width: 40px;
    height: 40px;
}

.like {
    background-image: url(Photos/full_heart.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
    width: 40px;
    height: 40px;
}

/* NAV */
/* IN PLAY */

#nav {
    height : 150px;
    width: 90%;
    background-color: black;
    border-radius: 0 0 15px 15px;
    display: flex;
}

#in_play {
    width : 30%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#en_lecture {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 60px;
    height: 150px;
}

#lecture {
    margin-bottom : 20px;
    font-size: 17px;
    font-weight: 900;
}

#artist_name_bottom {
    font-weight: lighter;
}

/* BUTTON NAV */

#button_nav {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#loop:hover {
    cursor: pointer;
}

#button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin : 15px 70px 0 70px;
    height: 75px;
}

/* PLAY PAUSE */

.play:hover {
    background-size: 80px;
}

.pause:hover {
    background-size: 80px;
}

.play {
    background: url(Photos/play.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.pause {
    background-image: url(Photos/pause.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

/* STOP */

#stop {
    background-image: url(Photos/stop_grey.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#stop:hover {
    background-image: url(Photos/stop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
    width: 40px;
    height: 40px;
}

/* PREVIOUS */

#rewind {
    background-image: url(Photos/rewind_grey.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#rewind:hover {
    background-image: url(Photos/rewind.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
    width: 40px;
    height: 40px;
}

/* NEXT */

#fast {
    background-image: url(Photos/next_grey.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#fast:hover {
    background-image: url(Photos/next.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
    width: 40px;
    height: 40px;
}

/* LOOP */

#loop {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.inactive {
    background-image: url(Photos/loop_grey.png);
}

.inactive:hover {
    background-image: url(Photos/loop.png);
}

.active {
    background-image: url(Photos/loop_active.png);
}

.active_one {
    background-image: url(Photos/loop_one_active.png);
}

/* SHUFFLE */

#shuffle {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.off {
    background-image: url(Photos/shuffle_grey.png);
}

.off:hover {
    background-image: url(Photos/shuffle.png);
}

.on {
    background-image: url(Photos/shuffle_active.png);
}

/* BARRE DE TEMPS */

#song_slider {
    height: 75px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seek_bar{
    width: 100%;
    height: 3px;
    margin: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
}

/* TAILLE DU BOUTON */

.seek_bar::-moz-range-thumb {
    border: none;
    height: 3px;
    width: 15px;
    border-radius: 5px;
    background: #1e39c5;
    cursor: pointer;
} 

/* SOUND */

#sound {
    width : 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media screen and (min-width:951px) and (max-width:1300px) {

    #hide {
        display: none;
    }

    #hide_right {
        display: none;
    }

    #list_button {
        display: flex;
    }

    #cover_button {
        display: flex;
    }

    #in_play {
        display: none;
    }

    #button_nav {
        width: 75%;
        margin-left: 20px;
    }

    #sound {
        width: 20%;
        margin-right: 20px;
    }

    #list {
        display: none !important;
    }

    #cover {
        width: 100%;
        display: flex !important;
    }

}

@media screen and (min-width:821px) and (max-width:950px) {
    
    #hide {
        display: none;
    }

    #hide_right {
        display: none;
    }

    #list_button {
        display: flex;
    }

    #cover_button {
        display: flex;
    }

    #in_play {
        display: none;
    }

    #button_nav {
        width: 90%;
        margin-left: 20px;
        margin-left: 20px;
    }

    #sound {
        width: 100%;
        margin-right: 20px;
        margin-left: 20px;
    }

    #list {
        display: none !important;
    }

    #cover {
        width: 100%;
        display: flex !important;
    }


    #nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 250px;
    }
}

@media screen and (min-width:51px) and (max-width:820px) {
    
    #hide {
        display: none;
    }

    #hide_right {
        display: none;
    }

    #list_button {
        display: flex;
    }

    #cover_button {
        display: flex;
    }

    #in_play {
        display: none;
    }

    #button_nav {
        width: 90%;
        margin-left: 20px;
        margin-left: 20px;
    }

    #sound {
        width: 100%;
        margin-right: 20px;
        margin-left: 20px;
    }

    #list {
        display: none !important;
    }

    #cover {
        width: 100%;
        display: flex !important;
    }


    #nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 250px;
    }

    #cover img {
        width: 300px;
    }

    #big {
        height: 550px;
    }

    #left_bar {
        display: none;
    }

    main {
        margin : 0 0 0 0;
    }

    #big, #nav {
        width: 100%;
    }

    #shuffle, #loop {
        display: none;
    }

    .play, .pause {
        width: 40px;
        height: 40px;
    }

}


